<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDLUDgXs39utlR7x-pWjPXWQD9Tc5pXoGw</string>
	<key>GCM_SENDER_ID</key>
	<string>283788984427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Rmre.Dracos.TreasureTrails</string>
	<key>PROJECT_ID</key>
	<string>dracos-treasure-trails</string>
	<key>STORAGE_BUCKET</key>
	<string>dracos-treasure-trails.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283788984427:ios:2b116a8e7318d5c1eff12e</string>
</dict>
</plist>